<div class="container">
    <div class="artwork">
        <img src="https://www.artic.edu/iiif/2/{{data.image_id}}/full/843,/0/default.jpg" alt="Artwork Image">
        <div class="content">
            <h1>{{data.title}}</h1>
            <h2>{{data.artist_display}}</h2>
            <p><strong>Place of Origin:</strong> {{data.place_of_origin}}</p>
            <p><strong>Credit Line:</strong> {{data.credit_line}}</p>
            <p><strong>Publishing Verification Level:</strong> {{data.publishing_verification_level}}</p>
        </div>
    </div>
</div>